[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "circRNAprofiler"]
	path = circRNAprofiler
	url = https://github.com/aufiero/circrnaprofiler
